{% extends "layout.html" %}
{% block content %}
    <h2>BBS</h2>
    <p>ユーザー名：{{ current_user.username }}</p>
    <div class="text-center">
        <form action="/thread" method="post">
            <label for="thread">新しいスレッドを作る</label>
            <input type="text" name="thread" required>
            <button class="btn btn-primary"type="submit">作成する</button>
        </form>
    </div>   
    <h2>スレッド一覧</h2>
    {% for thread in threads %}
    <div class="text-center">
            <form action="/thread" method="post">
                <input type="hidden" name="thread" value="{{thread.threadname}}">
                <button class="btn btn-primary"type="submit">{{ thread.threadname }}</button>
            </form>
    </div>
    {% endfor %}

    {% endblock %}